h1{
    margin-left: 30%;
}
.input-text {
    padding: 10px 30px;
    margin: 20px 0 20px 24%;
}

#submit{
    background-color: orange;
    color: white;
    
}
#text {
    width: 50%;
    margin: 20px 0 20px 20%;

}
#text, #submit {
    padding: 10px 20px;
    font-size: 1.2rem;
}
#response {
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
}
#response > img {
    width: 40%;
}
table {
    margin-top: 10px;
    table-layout: fixed;
    width: 40%;
    border-collapse: collapse;
    margin-left: 25%;
    margin: 0 auto;
    margin-bottom: 20px;
    display: none;
  }
  table > caption {
    padding: 25px 0;
    font-size: 2rem;
  }

  th,
  td {
    padding: 20px 40px;
  }
  td { 
    padding-left: 57px;
    
  }